---
const { generator, site } = Astro;
const image = new URL("social.jpg", site);

const description =
	"Come join me, Aditya for my birthday celebration in the park!";
import "@fontsource-variable/nunito";
import "@fontsource-variable/lora";
import HeroImage from "~/components/HeroImage.astro";
import Nav from "~/components/Nav.astro";
import OnParadise from "~/components/OnParadise.astro";
import When from "~/components/When.astro";
import Where from "~/components/Where.astro";
import Info from "~/components/Info.astro";
---

<html
	class="scroll-smooth"
	lang="en"
>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			href="/favicon.svg"
			type="image/svg+xml"
		/>
		<meta
			name="generator"
			content={generator}
		/>

		<title>
			Paradiso - Celebrating Aditya&rsquo;s birthday in Central Park
		</title>
		<meta
			name="description"
			content={description}
		/>

		<!-- social media -->
		<meta
			property="og:title"
			content="Paradiso - Celebrating Aditya’s birthday in Central Park"
		/>
		<meta
			property="og:type"
			content="website"
		/>
		<meta
			property="og:description"
			content={description}
		/>
		<meta
			property="og:image"
			content={image}
		/>
		<meta
			property="og:url"
			content={site}
		/>
		<meta
			name="twitter:card"
			content="summary_large_image"
		/>
	</head>
	<body class="font-sans bg-blue-100 relative z-0">
		<div class="md:inset-0 md:left-1/2 md:fixed md:z-0 z-10 relative">
			<HeroImage />
		</div>
		<div
			class="p-4 z-10 md:p-8 xl:p-16 md:text-xl xl:text-2xl relative prose md:w-1/2 overflow-x-hidden"
		>
			<h1 class="font-serif font-normal">Paradiso</h1>
			<Nav />
			<p>
				For my birthday this year, I am celebrating this trip around the sun by
				hosting a paradisiacal celebration in Central Park. Come join in the
				festivities!
			</p>
			<p>
				<a
					class="flex items-center justify-center text-center rounded-md no-underline px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-outer-space bg-outer-space text-white hover:bg-blue-200/40 border border-transparent hover:border-outer-space hover:text-outer-space"
					href="https://partiful.com/e/idmdacgIJYYNTIPBTXFT"
					>RSVP here
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-4 inline-block ml-1"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
						></path>
					</svg>
				</a>
			</p>

			<OnParadise />
			<When />
			<Where />
			<Info />
			<footer class="border-t border-t-outer-space text-outer-space/50 text-xs">
				<p>
					This website was coded through much toil, tribulation, and love by <a
						class="opacity-50"
						href="https://furioursus.dev"
						>Christopher</a
					>
					for Sir Aditya’s birthday.
				</p>
				<p>Happy birthday, Sir. ❤️🐯</p>
			</footer>
		</div>
	</body>
</html>
